@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Tsukimi+Rounded&display=swap');

@import "tailwindcss";
*{
  font-family: "Outfit";
}

::-webkit-scrollbar{
  display:none;
}